.mulher{
    top: 4.4em;
    left: 1.6em;
    z-index: 10;
}
.google{
    top:0em;
    right:6em;
    z-index:15;
}
.monetize{
    top:14em;
    right:0em;
    z-index:15;
}
.contaazul{
    z-index: 999;
    left:9em;
    bottom:0em;
}
.hotmart{
    top:0em;
    left:6em;
    z-index:9;
}
.mailchimp{
    bottom:3em;
    left:0em;
    z-index:15;
}
.pagseguro{
    bottom:3em;
    right:6em;
    z-index:15;
}
.contatos{
    top:8em;
    left:2em;
    z-index:15;
}

@media (max-width: 760px)
{
    .google, .monetize, .contaazul, .hotmart, .mailchimp, .pagseguro, .contatos{
        width:25%;
    }
    .google{
        top:0em;
        right:9em;
        z-index:15;
    }
    .monetize{
        top:14em;
        right:0em;
        z-index:15;
    }
    .contaazul{
        z-index: 9999;
        left:9em;
        bottom:0em;
    }
    .hotmart{
        top:0em;
        left:6em;
        z-index:9;
    }
    .mailchimp{
        bottom:3em;
        left:0em;
        z-index:15;
    }
    .pagseguro{
        bottom:3em;
        right:6em;
        z-index:15;
    }
    .contatos{
        top:8em;
        left:2em;
        z-index:15;
    }
    

}